<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>


    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-sharedspace-component@1.0.1/dist/aframe-sharedspace-component.min.js"></script>
    <script src="https://rawgit.com/rdub80/aframe-gui/master/dist/aframe-gui.min.js"></script>
    <script src="https://unpkg.com/aframe-html-shader@0.2.0/dist/aframe-html-shader.min.js"></script>
    <script src="https://rawgit.com/feiss/aframe-environment-component/master/dist/aframe-environment-component.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

    <script src="https://unpkg.com/aframe-event-set-component@3.0.3/dist/aframe-event-set-component.min.js"></script>


    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Welcome to Sidevox VR</title>

    <style>
        #video-grid {
            display: grid;
            /* grid-template-columns: repeat(auto-fill, 180px);*/
            /* grid-auto-rows: 140px; */
            visibility: hidden;
            width: 0;
            height: 0;
        }
        
        video {
            width: 90%;
            height: 90%;
            object-fit: cover;
            border: 5px solid greenyellow;
        }
        
        .container {
            position: relative;
        }
        
        .container video {
            width: 160px;
            height: 120px;
            object-fit: cover;
            border: 4px solid red;
            position: relative;
            z-index: 0;
        }
        
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            color: #00FF00;
        }
        
        #buttons {
            visibility: hidden;
            width: 0;
            height: 0;
        }
        
        #shareScreenBtn {
            background-color: green;
        }
    </style>
    <link rel="stylesheet" href="css/chatVR.css">

    <style type="text/css">
        @font-face {
            font-family: "Ionicons";
            src: url("fonts/ionicons.eot?v=2.0.1");
            src: url("fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("fonts/ionicons.woff?v=2.0.1") format("woff"), url("fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
            font-weight: normal;
            font-style: normal
        }
        
        body {
            font-family: Ionicons;
        }
        
        .visuallyhidden {
            display: block;
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            position: absolute !important;
        }
    </style>

    <script src="fontfaceobserver.js"></script>
    <script src="keyboard-gui.js"></script>
    <script src="gui-env.js"></script>


    <script>
        AFRAME.registerComponent('queue', {
            dependencies: ['position'],

            schema: {
                position: {
                    default: 1
                },
                separation: {
                    default: 2
                }
            },

            // Actualización de la posición del usuario
            update() {
                var position = this.el.getAttribute('position');
                console.log('|------------|-----------------|----------------|')
                console.log(position)
                console.log('**Update position**');
                position.x = (this.data.position - 1) * this.data.separation;
                console.log('Position ');
                console.log(position);
                console.log('|------------|-----------------|----------------|')
                this.el.setAttribute('position', position);
            }
        });
    </script>
    <script>
        AFRAME.registerComponent('theme', {
            schema: {
                type: 'color',
                default: 'black'
            },

            update() {
                var color = this.data;
                var themable = this.el.querySelectorAll('.themable');
                themable.forEach(function(el) {
                    el.setAttribute('color', color);
                });
            }
        });
    </script>
</head>

<body>
    <a class="hide" href="#">Hide</a>
    <section class="instructions">
        <span class="link"></span>
        <a class="move" href="./">Cambiar de sala.</a>
        <div id="buttons">

            <button class="mdc-button mdc-button--raised" disabled id="beginCallBtn">
            <span class="mdc-button__label">Iniciar llamada</span>
        </button>

            <button class="mdc-button mdc-button--raised" disabled id="joinBtn">
            <span class="mdc-button__label">Unirse a reunión</span>
        </button>

            <button class="mdc-button mdc-button--raised" id="getMediaBtn">
            <span class="mdc-button__label">Acceder a multimedia devices</span>
        </button>

            <button class="mdc-button mdc-button--raised" id="shareScreenBtn">
            <span class="mdc-button__label">Compartir pantalla</span>
        </button>


            <button class="mdc-button mdc-button--raised" id="shareCameraBtn">
            <span class="mdc-button__label">Compartir camara</span>
        </button>

        </div>




        <div id="errorMsg"></div>

        <div id="video-grid">
            <div class="container">
                <video id="localVideo" muted autoplay playsinline></video><br>
                <div class="overlay">
                    <p>Local Video</p>
                </div>
            </div>
        </div>
    </section>
    <!--Esto pemite usar un adaptador para compartir la pantalla-->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js" defer></script>

    <a-scene>
        <a-assets>
            <a-mixin id="me" camera="#cameraRig" look-controls share="position, rotation" visible="false"></a-mixin>
            <!--<a-mixin id="me" camera="#cameraRig" look-controls wasd-controls share="position, rotation, theme"></a-mixin>-->
            <!--        <a-mixin id="me"></a-mixin>-->



            <a-asset-item id="table2" src="gltf/school_desk/scene.gltf"></a-asset-item>

            <img id="wall1" src="images/Paredcostado.jpg">
            <img id="wall2" src="images/pareddefondo.jpg">
            <img id="window" src="images/ventana.png">
            <img crossorigin="anonymous" id="floor" src="images/piso.jpg">



            <img id="ceiling" src="images/wall6.jpg">


            <img id="skyTexture" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/sechelt.jpg">
            <!-- Add asset here -->


            <!-- Text Canvas -->
            <canvas id="canvasObj" crossorigin="anonymous" webkit-playsinline=""></canvas>
            <a-asset-item id="iconfont" src="fonts/ionicons.ttf"></a-asset-item>



            <video id="remoteVideo" autoplay playsinline></video>

            <a-asset-item id="television" src="gltf/television_wall/scene.gltf"></a-asset-item>
            <a-asset-item id="woman" src="gltf/woman/woman1.gltf"></a-asset-item>




        </a-assets>


        <a-entity sharedspace="audio: true; hold: true" avatars="placement: queue; onmyself: me">
            <!--        avatars="placement: queue; onmyself: me">-->
            <!-- Room -->
            <!-- Sky-->

            <a-video src="#localVideo" width="3.16" height="2" position="-11 7.20 -9.4" visible="false"></a-video>

            <a-video src="#remoteVideo" width="14.8" height="9" position="-1.7 4.92 -9.4"></a-video>


            <!--        a-sky permiteponer de fondo imagenes 360-->
            <a-sky color="#333"></a-sky>
            <!-- Ground-->
            <a-plane rotation="-90 0 0" width="25" height="25" src="#floor" repeat="10 10"></a-plane>

            <!--
            <a-box class="sky" position="0 10 0" scale="20 0.5 20" src="#ceiling" repeat="5 5"></a-box>
            <a-box class="window" position="10 5 0" scale="0 5.5 9" src="#window"></a-box>
            <a-box position="10.6 5 0" scale="1 10 20" color="#FFFFFF"></a-box>
            <a-box class="wallb" position="-10 5 0" scale="1 10 20" src="#wall1"></a-box>
            <a-box class="wallc" position="0 5 10" scale="20 10 1" src="#wall1"></a-box>
            <a-box class="walld" position="0 5 -10" scale="20 10 1" src="#wall2"></a-box>


                Walls-->

            <a-entity rotation="0 180 0" position="0 0 -2">

                <a-gltf-model class="table2" src="#table2" position="0 0 0" scale="0.02 0.02 0.025"></a-gltf-model>
                <a-gltf-model class="table2" src="#table2" position="-3 0 0" scale="0.02 0.02 0.025"></a-gltf-model>
                <a-gltf-model class="table2" src="#table2" position="3 0 0" scale="0.02 0.02 0.025"></a-gltf-model>
                <a-gltf-model class="table2" src="#table2" position="-6 0 0" scale="0.02 0.02 0.025"></a-gltf-model>
                <a-gltf-model class="table2" src="#table2" position="6 0 0" scale="0.02 0.02 0.025"></a-gltf-model>

            </a-entity>

            <a-entity text="value: Local \n video!; align: center; baseline: center; color: #000000" geometry="primitive: plane; width: 8; height: 1" position="-4.15 12 -9" visible="false"></a-entity>

            <a-entity text="value: Remote \n video!; align: center; baseline: center; color: #000000; visible: false" geometry="primitive: plane; width: 8; height: 1" position="4.15 10 -9" visible="false"></a-entity>

            <a-gltf-model class="television" src="#television" position="0 0 -9.6" scale="17.5 15 4.2" rotation="0 0 0"></a-gltf-model>


        </a-entity>


        <a-gui-flex-container flex-direction="row" justify-content="center" align-items="normal" component-padding="0.01" opacity="0.8" width="2.75" height="1.0" position="7.2 4.95 -9.3" rotation="0 0 0">


            <a-gui-icon-button width="0.75" height="0.75" icon="android-attach" onclick="buttonShareScreen" font-family="Arial" margin="0 0 0.05 0">
            </a-gui-icon-button>
            <a-gui-icon-button width="0.75" height="0.75" onclick="buttonShareCamera" icon="android-camera">
            </a-gui-icon-button>
            <a-gui-icon-button width="0.75" height="0.75" onclick="buttonStopSharing" icon="stop">
            </a-gui-icon-button>

        </a-gui-flex-container>


        <!-- Camera + cursor. -->
        <!--    <a-entity id="cameraRig" position="0 1.6 0">-->




        <a-entity id="cameraRig" position="6 1.6 0">

            <!--        <a-camera look-controls wasd-controls="acceleration: 200" position="0 0.5 0">&lt;!&ndash;CELULAR&ndash;&gt;-->
            <!-- <a-camera look-controls wasd-controls="acceleration: 200" position="0 1.6 0"> -->
            <!--COMPUTADOR-->
            <a-camera look-controls wasd-controls="acceleration: 200" position="0 1.6 -3.5">
                <!--            fuse="false"-->

                <a-entity id="cursor" raycaster="objects: [gui-interactable]" cursor="fuse: true;" animation__click="property: scale; startEvents: click; easing: easeInCubic; dur: 150; from: 0.1 0.1 0.1; to: 1 1 1" animation__fusing="property: scale; startEvents: fusing; easing: easeInCubic; dur: 1500; from: 1 1 1; to: 0.1 0.1 0.1"
                    animation__mouseleave="property: scale; startEvents: mouseleave; easing: easeInCubic; dur: 500; to: 1 1 1" material="color: red; shader: flat" position="0 0 -1" geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03">
                </a-entity>
                <!-- /cursor -->
            </a-camera>
            <!-- /camera -->
        </a-entity>


    </a-scene>

    <div style="width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: -1; overflow: hidden">
        <div id="htmlElement" style="background: #fff; color:#000; font-size: 60px; width:1500px; height: 600px;"></div>
    </div>
    <!--
    <div style="width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: -1; overflow: hidden">
        <div id="htmlLocalVideo" style="background: darkslategrey; color: navajowhite; font-size: 150px">Local video!</div>
    </div>

    <div style="width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: -1; overflow: hidden">
        <div id="htmlRemoteVideo" style="background: darkcyan; color: aliceblue; font-size: 150px">Remote video!</div>
    </div>
-->


    <template>
    
        <!--<a-entity theme position-around>-->
        <a-entity theme position="-9 1.6 0">


                <a-sphere radius="0.1" color="#ffffff"></a-sphere>
                <a-sphere position="0.05 0.03 -0.08" radius="0.02" segments-width="8" segments-height="8" color="#000000"></a-sphere>
                <a-sphere position="-0.05 0.03 -0.08" radius="0.02" segments-width="8" segments-height="8" color="#000000"></a-sphere>
                <a-sphere class="themable" position="0 -0.07 -0.1" scale="1 1 0.5" segments-width="4" segments-height="4" radius="0.02" color="#11fd3e"></a-sphere>
                <a-cone class="themable" position="0.03 -0.07 -0.1" rotation="0 0 90" scale="1 1 0.5" segments-radial="8" segments-height="1" height="0.03" radius-bottom="0.03"  color="#1cff3c"></a-cone>
                <a-cone class="themable" position="-0.03 -0.07 -0.1" rotation="0 0 -90" scale="1 1 0.5" segments-radial="8" segments-height="1" height="0.03" radius-bottom="0.03"  color="#1cff3c"></a-cone>
            <!--
            <a-gltf-model class="woman" src="#woman" position="-4 -1.6 12" scale="0.03 0.05 0.02" rotation="0 180 0"></a-gltf-model>
            <a-gltf-model class="woman" src="#woman" position="0 -1.6 0" scale="0.03 0.05 0.02" rotation="0 180 0"></a-gltf-model>

            <a-entity obj-model="obj: url(https://cdn.glitch.com/4e53a88a-96d2-46e5-ab4b-f8f1b9c2d486%2Fface.obj?1506059732633)" rotation="0 90 0" scale="0.01 0.01 0.01" position="0 1.6 0"></a-entity>

            Anime Face Model Stocking(https://sketchfab.com/models/d049b6a85d204057b170ef9dbc851200) by stocking(https://sketchfab.com/stocking) is licensed under CC Attribution(http://creativecommons.org/licenses/by/4.0/)
            -->
        </a-entity>
    </template>
    <script src="communication.js"></script>
    <script src="key-press.js"></script>
    <script src="server.js"></script>
</body>

</html>